


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

/* Shared Style */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: black;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 8px;
    cursor: pointer;
}
.signup-button:hover{
    background: #5855eb;
    transform:translateY(-2px)
}
.btn-primary2{
    background-color: #4E47FF;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 8px;
    cursor: pointer;
}
.btn-primary3{
    background-color: #4E47FF;
    font-weight: normal;
    color: #FFFFFF;
    padding: 12px 36px;
     border-radius: 10px;
    cursor: pointer;
}
 
.aection-description{
    font-size: 24px;
    color: #252432;
}
.aection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 40px;
    padding: 60px 10px;
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.action-left{
    flex: 1;
    min-width: 240px;
}
.aection-picture{
    width: 403px;
    height: 328px;

}
/* header */
.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
}
nav li a {
    text-decoration: none;
}


/* Banner Styles */

.banner{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0px 200px;
        padding: 0px;
    }
.banner-content{
    max-width: 1440px;
    max-height: 698px;
    align-content: center;


}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    justify-content: center;
    align-content: center;
}
.banner-background-pic{
    width: 0px;
    height: 0px;
}



