


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

/* Shared Style */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: black;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 8px;
    cursor: pointer;
}
.signup-button:hover{
    background: #5855eb;
    transform:translateY(-2px)
}
.btn-primary2{
    background-color: #4E47FF;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 8px;
    cursor: pointer;
}
.btn-primary3{
    background-color: #4E47FF;
    font-weight: normal;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
}
/* header */
.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
}
nav li a {
    text-decoration: none;
}


/* Banner Styles */

.banner{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0px 200px;
        padding: 0px;
    }
.banner-content{
    max-width: 1440px;
    max-height: 698px;
    align-content: center;


}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    justify-content: center;
    align-content: center;
}
.banner-background-pic{
    width: 0px;
    height: 0px;
}

/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    margin: 141px 116px 159px 116px;
}
.action-content{
    max-width: 1140px;
    height: 328px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-picture{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}
.users-section{
    background-color: #4E47FF;
    width: 1140px 306px;
    gap: 10px;
    padding: 80px 50px;
    text-align: center;
    border-radius: 24px;
}
.stats-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 400px;
    color: #252432;
}
.stats-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.stat1{
    text-align: center;
    padding: 9px 40px;
}
.stat2{
    text-align: center;
    padding: 9px 40px;
}
.stat3{
    text-align: center;
    padding: 9px 40px;
}
.stat h2{
    font-size: 32px;
    color: #4a4eff;
    margin-bottom: 10px;
}
.stat p{
    font-size: 14px;
    color: #555;
    gap: 30px;
}
.contact-section{
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    background-color: #ffffff;
    max-width: 1000px;
    max-height: px;
    border-radius: 0px;
    gap: auto;
    margin: 197px 252px 197px 197px;
}
}
.left-side{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side h1{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    justify-content: space-between;

}
.right-side{
    flex: 1;
    width: 497px;
    height: 490px;
    gap: 35px;
    padding: 16px 36px;
    justify-content: space-between;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: right;
    justify-content: space-between;
}
label{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #555;
    padding: 32px 20px;
    border-radius: 10px;
}
inpur,textarea{
    padding: 32px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
button{
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}